@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root { /* Lightmode (default) */
    --color-background: #e9e9e9;
    --color-text: #1a1a1a;
    --color-text-2: #7a7a7a;
    --color-primary: #ff9100;
    --color-surface: #f0f0f0;
    --color-border: #bbbbbb;
}

body.dark-mode { /* Darkmode */
    --color-background: #0c0c0c;
    --color-text: #f0f0f0;
    --color-text-2: #8e8e8e;
    --color-surface: #1e1e1e;
    --color-border: #333333;
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    transition: background-color 0.3s, color 0.3s;
    font-family: "Inter", sans-serif; 
    font-style: normal;
}

a {
    color: var(--color-text);
}

p{
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.wip-flag {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 0.9rem;
}

.theme-switch {
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-block;
    width: 60px;
    height: 34px;
  
    input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 34px;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: #e7e7e7;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 50%;
    }

    input:checked + .slider {
        background-color: var(--color-primary);
    }

    input:focus + .slider {
        box-shadow: 0 0 1px var(--color-primary);
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
}

.container {
    max-width: 70%;
    margin: 0 auto;
    padding: 50px;
}

main{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

header {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;

    .introduction{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        h1{
            margin: 0;
            padding: 0;
            font-size: 2.75rem;
        }

        p{
            font-size: 1.1rem;
        }
    }

    .profile-photo{
        min-width: 120px;
        min-height: 120px;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        border: 1px solid var(--color-border);

        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }
}

.box{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    h2{
        margin: 0;
        padding: 0;
        font-size: 1.3rem;
    }
}

.about{
    p{
        font-size: 0.9rem;
        color: var(--color-text-2);
    }
}

.navigation {
    position: fixed;
    bottom: 30px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: var(--color-surface);
    border-radius: 8px; */

    .bar{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        background-color: var(--color-border);
        border-radius: 30px;
        padding: 15px;
    }

    bar:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 90%;
    }
}