@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root { /* Lightmode (default) */
    --color-background: #e9e9e9;
    --color-text: #1a1a1a;
    --color-text-2: #7a7a7a;
    --color-primary: #cd8526;
    --color-surface: #c2c2c2;
    --color-title: #dddddd;
    --color-hover-surface: #d2d2d2;
    --color-border: #d6d6d6;
    --color-shadow: rgba(0, 0, 0, 0.1);
}

body.dark-mode { /* Darkmode */
    --color-background: #0c0c0c;
    --color-text: #f0f0f0;
    --color-text-2: #8e8e8e;
    --color-primary: #ff9100;
    --color-surface: #1e1e1e;
    --color-title: #131313;
    --color-hover-surface: #333333;
    --color-border: #2c2c2c;
    --color-shadow: rgba(161, 161, 161, 0.1);

    .svg-sun {
        display: none;
    }

    .svg-moon {
        display: block;
    }
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    transition: background-color 0.3s, color 0.3s;
    font-family: "Inter", sans-serif; 
    font-style: normal;

    .svg-moon {
        display: none;
    }
}

html {
    .pt-icon {
        display: none;
    }

    #lang-toggle{
        display: none;
    }
}

html.pt-BR{
    .en-icon {
        display: none;
    }

    .pt-icon {
        display: block;
    }
}

a {
    color: var(--color-text);
}

a:hover {
    color: var(--color-primary);
}

p{
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.wip-flag {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 0.9rem;
}

.container {
    max-width: 672px;
    margin: 0 auto;
    padding: 60px 15px 120px;
}

main{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

header {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;

    .introduction{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        h1{
            margin: 0;
            padding: 0;
            font-size: 2.75rem;
        }

        p{
            font-size: 1.1rem;
        }
    }

    .profile-photo{
        min-width: 120px;
        min-height: 120px;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        border: 1px solid var(--color-border);

        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }
}

.box{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    h2{
        margin: 0;
        padding: 0;
        font-size: 1.3rem;
    }

    .title-2{
        background-color: var(--color-title);
        border: 1px solid var(--color-border);
        border-radius: 20px;
        padding: 5px 10px;
        font-weight: 400;
    }

}

.about{
    p{
        font-size: 0.9rem;
        color: var(--color-text-2);
    }
}

.skills{
    .skills-list{
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        margin-top: 5px;

        span{
            background-color: var(--color-surface);
            padding: 5px 10px;
            border-radius: 15px;
            font-size: 0.8rem;
            font-weight: 600;
            cursor: default;
        }

        span:hover {
            background-color: var(--color-hover-surface);
            color: var(--color-primary);
        }
    }
}

.contact{
    align-items: center;
    margin-top: 2.5rem;

    h1{
        margin: 0;
        font-size: 2.5rem;
    }

    p{
        font-size: 1rem;
        text-align: center;
    }
}

.navigation {
    position: fixed;
    bottom: 30px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .icon-navbar{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        background: var(--color-surface);
        border-radius: 50px;

        .separator {
            height: 35px;
            width: 10px;
            border-right: 1px solid var(--color-text);
            opacity: 0.2;
        }

        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            list-style: none;
            height: 100%;
            width: 100%;
            padding: 5px 10px;
            margin: 0;
            gap: 0.1rem; 
            border-radius: 50px;
            transition: gap 0.4s ease;
        }

        ul:hover {
            gap: 4px;
        }

        a{
            height: 80%;
            width: 80%;
            position: relative;

            text-decoration: none;
        }

        a::after, button::after {
            content: attr(data-tooltip);
            position: absolute;
            bottom: 100%;
            left: 50%;
            transform: translateX(-50%);
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            transition: opacity 0.2s, transform 0.3s;

            padding: 5px 8px;
            white-space: nowrap;
            border-radius: 20px;
            font-size: 12px;

            background: var(--color-background);
            color: var(--color-text); 
            z-index: 1000; 

            border: 1px solid var(--color-border);
        }

        a:hover::after, button:hover::after {
            opacity: 1;
            visibility: visible;
            transform: translate(-50%, -5px);
        }

        li {
            display: flex;
            justify-content: center;
            align-items: center;

            padding: 8px 8px;
            border-radius: 50%;
            transition: background-color 0.2s;
            transition: margin 0.3s ease;

            svg {
                height: 25px;
                width: 25px;

                fill: var(--color-text);
            }
            
            span{
                color: var(--color-text);
                font-size: 16px;
                font-weight: bold;
            }

            .svg-github{
                height: 22px;
                width: 22px;
                margin: 1.5px;
            }

            .svg-linkedin{
                height: 20px;
                width: 20px;
                margin: 2.5px;
            }
        }

        li:hover {
            background-color: var(--color-hover-surface);
            margin: 0 0.7rem;
            
            svg {
                fill: var(--color-primary);
            }

            span {
                color: var(--color-primary);
            }
        }
    }

    .icon-navbar:hover {
        box-shadow: 0 4px 8px var(--color-shadow);
    }

    button {
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        position: relative;
    }
}
